<ion-header>
  <ion-navbar>
    <ion-title>
      Déclaration
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item padding="0">
    <h1 >Incident :</h1>
  </ion-item>

  <form  #f="ngForm" (ngSubmit)="onSubmitForm(f)">
    <ion-list >

      <ng-template #dynamic></ng-template>

    </ion-list >
  </form>

  <ion-item padding="0">
    <h1 >Coordonnées point test :</h1>
  </ion-item>

  <button ion-item  >
    <p *ngIf="pointTest"> Longitude : {{pointTest.longitude}}</p>
    <p *ngIf="pointTest"> Latitude : {{pointTest.latitude}}</p>
  </button>


  <button color="danger" ion-button (click)="recupererPointTest()" > Mesurer un point de test</button>

  <button  ion-button (click)="enregistrerInformations()" > Mesurer un point de test</button>



</ion-content>
