<ion-tabs>

  <ion-tab *ngIf="parametresAuthentificationActuelles['lastApplication'] == 1" [root]="tab1Root" tabTitle="En cours" tabIcon="md-paper"></ion-tab>
  <ion-tab *ngIf="parametresAuthentificationActuelles['lastApplication'] == 1" [root]="tab2Root" tabTitle="Incidents" tabIcon="ios-paper"></ion-tab>
  <ion-tab *ngIf="parametresAuthentificationActuelles['lastApplication'] == 2" [root]="tab3Root" tabTitle="Enquete POI" tabIcon="ios-paper"></ion-tab>
  <ion-tab *ngIf="parametresAuthentificationActuelles['lastApplication'] == 1" [root]="tab4Root" tabTitle="Map" tabIcon="map"></ion-tab>

</ion-tabs>
