

<!--
  Generated template for the ListeFournisseurPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Liste Incident</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>


  <ion-item>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-icon *ngIf="parametresAuthentificationActuelles && parametresAuthentificationActuelles.data['profile'] == 'technicienPrestataire'"  name="add-circle" (click)="ajouterItem()" item-end></ion-icon>
  </ion-item>






  <ion-list>
    <button ion-item *ngFor="let item of fichierJsonGetRowsFiltre"   (click)="itemTapped($event, item)">
      {{item?.id}}
      <p>{{item?.description}}</p>
        <ion-icon style="zoom:0.85;" name="time" (click)="detailItemTapped($event, item)" item-end></ion-icon>
        <ion-icon style="zoom:0.85;" name="list-box" (click)="detailItemTapped($event, item)" item-end></ion-icon>
        <ion-icon style="zoom:0.9;" name="create" (click)="detailItemTapped($event, item)" item-end></ion-icon>

    </button>
  </ion-list>


</ion-content>
