

<!--
  Generated template for the ListeFournisseurPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Liste Incidente kkk</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>


  <ion-item>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-icon  style="zoom:0.9;" name="ios-funnel" (click)="filterTapped($event, item)" item-end></ion-icon>

  </ion-item>






  <ion-list>

    <div *ngFor="let item of fichierJsonGetRowsFiltre">
      <button *ngIf="conformeAuFiltre(item)"  mode="md" ion-item    (click)="itemTapped($event, item)">

        <p>Type Panne : {{toLibelle("idtypepanne",item?.idtypepanne)}} ({{toLibelle("idvoletpanne",item?.idvoletpanne)}})</p>
        <p>Date : {{ toDate(item?.date_add,"") }}</p>
        <p>Description : {{item?.description}}</p>
        <p>Statut : {{toLibelle("idstatut",item?.idstatut)}}</p>
        <ion-icon  style="zoom:1; /*background-color: #32db64;*/padding-left: 10px;padding-left: 30px;padding-top: 10px;padding-bottom: 10px;" name="md-more" (click)="detailItemTapped($event, item)" item-end></ion-icon>

      </button>
    </div>


  </ion-list>



  <br> <br>



  <ion-fab right bottom>
    <button (click)="ajouterItem()" *ngIf="parametresAuthentificationActuelles && parametresAuthentificationActuelles.data['profile'] == 'technicienPrestataire'"  name="add-circle"  ion-fab color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
