

<!--
  Generated template for the ListeFournisseurPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Historique</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>


  <ion-item padding="0">
    <h1 >Déclaration:</h1>
  </ion-item>

  <ion-card ion-item >

    <ion-item>
      <ion-avatar item-start>
        <img [src]=" '../../assets/imgs/1.png'">
      </ion-avatar>
      <h2>Statut: {{toLibelle("idstatut",1)}}</h2>
      <p>{{ toDate(informationsActuelles?.date_add,"") }}</p>
      <p>Panne: panne de la declaration</p>
      <p>NJT: nombre jour traitement</p>

    </ion-item>

    <img style="max-height: 400px" [src]="informationsActuelles?.phototraitement">

    <ion-card-content>
      <p> Description: {{informationsActuelles?.description}}</p>
    </ion-card-content>

    <ion-row>

      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="text"></ion-icon>
          <div>Détails</div>
        </button>
      </ion-col>

    </ion-row>

  </ion-card>

  <ion-item padding="0">
    <h1 >Actions:</h1>
  </ion-item>


  <ion-list>


    <ion-card ion-item *ngFor="let item of fichierJsonGetRowsFiltre">

      <ion-item>
        <ion-avatar item-start>
          <img [src]=" '../../assets/imgs/' + item?.idstatut + '.png'">
        </ion-avatar>
        <h2>Statut: {{toLibelle("idstatut",item?.idstatut)}}</h2>
        <p>{{ toDate(item?.date_add,"") }}</p>
      </ion-item>

      <img style="max-height: 400px" [src]="item?.phototraitement">

      <ion-card-content>
        <p> Observations: {{item?.observation}}</p>
      </ion-card-content>

      <ion-row>

        <ion-col>
          <button ion-button icon-start clear small>
            <ion-icon name="text"></ion-icon>
            <div>Détails</div>
          </button>
        </ion-col>

      </ion-row>

    </ion-card>



  </ion-list>

  <!--button *ngIf="derniereAction() && derniereAction().idstatut == 2" type="submit" color="secondary" ion-button  block (click)="rejeterIncident()">
    Rejeter
  </button-->
  <!--button *ngIf="derniereAction() && derniereAction().idstatut == 2" type="submit" color="secondary" ion-button  block (click)="cloturerIncident()">
    Cloturer
  </button-->
  <!--button *ngIf="derniereAction() && derniereAction().idstatut == 3" type="submit" color="secondary" ion-button  block (click)="traiterIncident()">
    Traiter
  </button-->

</ion-content>
